@import url('https://fonts.googleapis.com/css?family=Ubuntu:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://cdn.pixabay.com/photo/2023/03/31/14/44/nature-7890194_640.jpg')no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    /* top: 0px;
    left: 0px; */
    width: calc(100vw + 60px); 
    height: calc(100vh + 60px);
    /* width: 100vw;
    height: 100vh; */
    z-index: -1;
    filter: blur(0px);
}
.loading-text{
    font-size: 50px;
    color: white;
}