* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(153, 205, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
  }
  
  .fill {
    background-image: url('https://imgs.search.brave.com/KoR8qN24DDnUuaiSYCzV7sIHutV2tPy79BQ4sL4ksX0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9i/cmVhdGh0YWtpbmct/c2NlbmVyeS1iZWF1/dGlmdWwtY2xvdWRz/LWZpZWxkLXdpdGgt/Z3JlZW4tdHJlZXNf/MTgxNjI0LTg0OTEu/anBnP3NpemU9NjI2/JmV4dD1qcGc');
    height: 145px;
    width: 145px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
  
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }